#root {
    /* max-width: 1368px; */
    width: 100%;
    height: inherit;
 
}

/* body > #root > div {
    min-height: 61rem;
  } */


  html, #root > div {
    height: 100%;
    margin: 0;
  }